log/*.log
tmp/**/*
db/*.sqlite3
doc/api
doc/app
vendor/bundle/*
vendor/cache/*
.bundle
.DS_Store
config/database.yml
config/deploy.rb
config/config.yml
public/assets
Gemfile.lock
nbproject
.project
capistrano
