# google_adsense.yml
development:
  google_ad_client: stuff
  google_ad_slot: stuff

testing:
    google_ad_client: stuff
    google_ad_slot: stuff
  
production:
  google_ad_client: stuff
  google_ad_slot: stuff